<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>



    <div class="container">
        <div class="header">
            <h3 class="text-muted">спешл фор НГУ</h3>
        </div>

        <div class="jumbotron" style="background-color:dodgerblue">
            <h1>Заявка успешно оставлена!</h1>
            <p class="lead"></p>
            <p>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Заявка на звонок</h4>
                <p>Уважаемый {{name}}! Ваша заявка успешно зарегистрирована. </p>
                <p>Наш оператор свяжется с вами {{date}}</p>


            </div>


        </div>




    </div>
</body>

</html>